.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  background: #224E7A;
  margin: auto;
}

@media screen and (min-width: 660px) {
  .nav {
    display: flex;
  }
}

.link-item {
  list-style-type: none;
  margin-top: 8px;
}

.link {
  color: white;
  margin: 0 8px;
}

.link:hover {
  color: rgb(163, 153, 153);
}