.story-tile {
  background-color: beige;
  border-radius: 4px;
  color: black;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  width: 100%;
}

.story-tile:hover {
  background-color:#CBAD00;
  transition: background-color 200ms linear;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  margin-right: 16px;
}