.story-tile {
  background-color: beige;
  border-radius: 4px;
  display: inline-block;
  padding: 16px;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  margin-right: 16px;
}